.header {
    position: fixed;
    width: 100%;
    height: 44px;
    padding: 4px 25px;
    background-color: var(--header_bg);
    backdrop-filter: blur(10px);
    z-index: 100;

    .count__info {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        bottom: 0;
        right: -2px;
        font-size: 10px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #ffffff;
        color: black;
        font-weight: 600;

        &--right {
            right: -20px!important;
        }

        &--burger {
            background-color: black;
            color: white;
            right: -25px!important;
            top: 3px;
        }
    }

    &__inner {
        height: 44px;
    }

    &__logo {
        img {
            width: 35px;
        }
    }

    &__ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__info {
        ul {
            display: flex;
            gap: 60px;
            font-size: 14px;
            font-weight: 400;
            color: #ffffffcc;

            li {
                position: relative;
            }
        }

    }

    &__left {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .header__menu {
        display: none;
        background-color: transparent;
    }

    &__bag {
        position: relative;
    }
}

@media screen and (max-width: 900px) {
    .header__info {

        .header__list:nth-child(3),
        .header__list:nth-child(4),
        .header__list:nth-child(5) {
            display: none;
        }
    }

}

@media screen and (max-width: 600px) {
    .header__info {
        display: none;
    }

    .header__menu {
        display: flex !important;
    }
}